@inherits CustomBaseComponent

<LoadingIndicator IsLoading="@this.IsBusy"></LoadingIndicator>

<h3>Update My User Profile</h3>

<EditForm Model="@this.createUserProfileModel" OnValidSubmit="OnValidSubmitAsync">
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <ObjectGraphDataAnnotationsValidator></ObjectGraphDataAnnotationsValidator>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <label class="@ThemeConfiguration.Labels.DefaultCss">
            Bio:
        </label>
        <InputTextArea class="@ThemeConfiguration.GenericControls.DefaultCss"
                       @bind-Value="@this.createUserProfileModel.Bio">
        </InputTextArea>
        <ValidationMessage For="@( () => this.createUserProfileModel.Bio)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <label class="@ThemeConfiguration.Labels.DefaultCss">YouTube Nickname:</label>
        <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
                   @bind-Value="@this.createUserProfileModel.YouTubeNickname"></InputText>
        @if (!String.IsNullOrWhiteSpace(this.createUserProfileModel.YouTubeNickname))
        {
            <a href="@this.createUserProfileModel.YouTubeLink" target="_blank">@this.createUserProfileModel.YouTubeLink</a>
        }
        <ValidationMessage For="@( () => this.createUserProfileModel.YouTubeNickname)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <label class="@ThemeConfiguration.Labels.DefaultCss">LinkedIn Nickname:</label>
        <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
                   @bind-Value="@this.createUserProfileModel.LinkedInNickname"></InputText>
        @if (!String.IsNullOrWhiteSpace(this.createUserProfileModel.LinkedInNickname))
        {
            <a href="@this.createUserProfileModel.LinkedInLink" target="_blank">@this.createUserProfileModel.LinkedInLink</a>
        }
        <ValidationMessage For="@( () => this.createUserProfileModel.LinkedInNickname)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <label class="@ThemeConfiguration.Labels.DefaultCss">Facebook Nickname:</label>
        <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
                   @bind-Value="@this.createUserProfileModel.FacebookNickname"></InputText>
        <ValidationMessage For="@( () => this.createUserProfileModel.FacebookNickname)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <label class="@ThemeConfiguration.Labels.DefaultCss">Instagram Nickname:</label>
        <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
                   @bind-Value="@this.createUserProfileModel.InstagramNickname"></InputText>
        <ValidationMessage For="@( () => this.createUserProfileModel.InstagramNickname)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <label class="@ThemeConfiguration.Labels.DefaultCss">Twitter Nickname:</label>
        <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
                   @bind-Value="@this.createUserProfileModel.TwitterNickname"></InputText>
        <ValidationMessage For="@( () => this.createUserProfileModel.TwitterNickname)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <label class="@ThemeConfiguration.Labels.DefaultCss">Buy me a coffee Nickname:</label>
        <input type="text" class="@ThemeConfiguration.GenericControls.DefaultCss"
               @bind="@this.createUserProfileModel.BuyMeACoffeeNickname"
               @bind:event="oninput" />
        <ValidationMessage For="@( () => this.createUserProfileModel.BuyMeACoffeeNickname)"></ValidationMessage>
        @if (!String.IsNullOrWhiteSpace(this.createUserProfileModel.BuyMeACoffeeNickname))
        {
            <a target="_blank"
           href="https://www.buymeacoffee.com/@this.createUserProfileModel.BuyMeACoffeeNickname">
                <img src="https://img.buymeacoffee.com/button-api/?text=Buy @this.createUserProfileModel.BuyMeACoffeeNickname a pizza&emoji=🍕&slug=@this.createUserProfileModel.BuyMeACoffeeNickname&button_colour=5F7FFF&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" />
            </a>
        }
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <button class="@ThemeConfiguration.Buttons.PrimaryButtonCss">Update Profile</button>
    </div>
</EditForm>
