@inherits CustomBaseComponent

<LoadingIndicator IsLoading="@this.IsBusy"></LoadingIndicator>

<h3>Create My Post</h3>

<EditForm Model="@this.createPostModel" OnValidSubmit="OnValidSubmitAsync">
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <DataAnnotationsValidator></DataAnnotationsValidator>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <AudibleLabel ItemText="Type your desired text"></AudibleLabel>
        <InputTextArea class="@ThemeConfiguration.GenericControls.DefaultCss"
            @bind-Value="@this.createPostModel.Text"></InputTextArea>
            <ValidationMessage For="@( () => this.createPostModel.Text)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <button type="submit"
                class="@ThemeConfiguration.Buttons.PrimaryButtonCss">
            Create Post
        </button>
    </div>
</EditForm>

