@inherits CustomBaseComponent

<LoadingIndicator IsLoading="@this.IsBusy"></LoadingIndicator>

<h3>Create My Post</h3>

<EditForm Model="@this.createPostModel" OnValidSubmit="OnValidSubmitAsync">
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <ObjectGraphDataAnnotationsValidator></ObjectGraphDataAnnotationsValidator>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <AudibleLabel ItemText="Type your desired text"></AudibleLabel>
        <InputTextArea class="@ThemeConfiguration.GenericControls.DefaultCss"
                       @bind-Value="@this.createPostModel.Text"></InputTextArea>
        <ValidationMessage For="@( () => this.createPostModel.Text)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <AudibleLabel ItemText="Post Photo:"></AudibleLabel>
        <ImagePicker Model="@this.createPostModel!.Photo"
                     OnFileSelected="OnPostPhotoSelectedAsync"
                     MaxHeightForPreview="300"></ImagePicker>
        <ValidationMessage For="@( () => this.createPostModel.Photo)"></ValidationMessage>
        <ValidationMessage For="@( () => this.createPostModel.Photo!.Filename)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <AudibleLabel ItemText="Tag 1:"></AudibleLabel>
        <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
                   @bind-Value="@this.createPostModel.Tag1"></InputText>
        <ValidationMessage For="@( () => this.createPostModel.Tag1)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <AudibleLabel ItemText="Tag 2:"></AudibleLabel>
        <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
                   @bind-Value="@this.createPostModel.Tag2"></InputText>
        <ValidationMessage For="@( () => this.createPostModel.Tag2)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <AudibleLabel ItemText="Tag 3:"></AudibleLabel>
        <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
                   @bind-Value="@this.createPostModel.Tag3"></InputText>
        <ValidationMessage For="@( () => this.createPostModel.Tag3)"></ValidationMessage>
    </div>
    <div class="@ThemeConfiguration.Divisions.DefaultCss">
        <button type="submit"
                class="@ThemeConfiguration.Buttons.PrimaryButtonCss">
            Create Post
        </button>
    </div>
</EditForm>

