@inherits CustomBaseComponent

<LoadingIndicator IsLoading="@this.IsBusy"></LoadingIndicator>

<h3>Group @GroupId Feed</h3>

<button @onclick="OnNavigateToCreatePostClicked"
        type="button"
        class="@ThemeConfiguration.Buttons.SecondaryButtonCss">
    Create Post  In Group
</button>

@if (this.MyHomeFeed != null && this.PostModels != null)
{
    <Feed HubUrl="@Constants.Hubs.HomeFeedHub"
      PostModels="PostModels">
    </Feed>

    @if (this.MyHomeFeed?.PageNumber > 1)
    {
        <button @onclick="OnPreviousPageButtonCllickedAsync"
        type="button"
        class="@ThemeConfiguration.Buttons.SecondaryButtonCss">
            Previous Page
        </button>
    }
    <label class="@ThemeConfiguration.Labels.DefaultCss">Page @this.MyHomeFeed?.PageNumber of @this.MyHomeFeed?.TotalPages</label>
    @if (this.MyHomeFeed?.PageNumber < this.MyHomeFeed?.TotalPages)
    {
        <button @onclick="OnNextPageButtonClickedAsync"
        type="button"
        class="@ThemeConfiguration.Buttons.SecondaryButtonCss">
            Next Page
        </button>
    }
}