@inherits FairPlaySocial.SharedUI.Pages.CustomBaseComponent

<LoadingIndicator IsLoading="@this.IsBusy"></LoadingIndicator>

@if (this.PostModels?.Count > 0)
{
    foreach (var singlePostModel in this.PostModels)
    {
        <div class="@ThemeConfiguration.Chats.ChatItemSection">
            <label @onclick="@( async () => await OnPostAuthorSelectedAsync(singlePostModel))"
           class="@ThemeConfiguration.Chats.ChatSender"
           style="cursor:pointer;">
                @singlePostModel.OwnerApplicationUserFullName
            </label>
            <p class="@ThemeConfiguration.Chats.ChatContent">@singlePostModel.Text</p>
            <p class="@ThemeConfiguration.Chats.ChatTime"></p>
            @if (singlePostModel.Photo != null)
            {
                <img class="@ThemeConfiguration.Images.ThumbnailDefaultCss"
         src="data:@singlePostModel.Photo!.ImageType;base64, @Convert.ToBase64String(singlePostModel.Photo.ImageBytes!)" />
            }
        </div>
    }
}

@if (this.ShowPostAuthorModal && this.MySelectedAuthorFollowStatus != null &&
this.SelectedPostModel != null && this.MySelectedAuthorUserProfile != null)
{
    <CustomModal OkButtonText="OK" OnCloseButtonClicked="HidePostAuthorModal"
             ShowFooter="false">
        <Title>@this.SelectedPostModel!.OwnerApplicationUserFullName</Title>
        <Content>
            <p>
                Bio: @this.MySelectedAuthorUserProfile.Bio
            </p>
            <p>
                YouTubeNickname: @this.MySelectedAuthorUserProfile.YouTubeNickname
            </p>
            <p>
                FacebookNickname: @this.MySelectedAuthorUserProfile.FacebookNickname
            </p>
            <p>
                InstagramNickname: @this.MySelectedAuthorUserProfile.InstagramNickname
            </p>
            <p>
                TwitterNickname: @this.MySelectedAuthorUserProfile.TwitterNickname
            </p>
            <p>
                LinkedInNickname: @this.MySelectedAuthorUserProfile.LinkedInNickname
            </p>
            @if (!this.MySelectedAuthorFollowStatus!.IsFollowed)
            {
                <button type="button"
                @onclick="OnFollowSelectedAuthorAsync">
                    <i class="bi bi-star"></i>
                </button>
            }
            else
            {
                <button type="button"
                @onclick="OnUnFollowSelectedAuthorAsync">
                    <i class="bi bi-star-fill"></i>
                </button>
            }

        </Content>
    </CustomModal>
}