@inherits FairPlaySocial.SharedUI.Pages.CustomBaseComponent

<LoadingIndicator IsLoading="@this.IsBusy"></LoadingIndicator>

@if (this.PostModels?.Count > 0)
{
    @if (this.NotificationsQueue.Count > 0)
    {
        <div class="@ThemeConfiguration.Divisions.DefaultCss">
            <AudibleLabel ItemText="@PendingNotificationsMessage"></AudibleLabel>
            <button class="@ThemeConfiguration.Buttons.PrimaryButtonCss"
            type="button" @onclick="ProcessEnqueuedNotifications">
                Refresh
            </button>
        </div>
    }
    foreach (var singlePostModel in this.PostModels)
    {
        <PostComponent PostModel="@singlePostModel"></PostComponent>
    }
}
