@inherits FairPlaySocial.SharedUI.Pages.CustomBaseComponent

@if (this.PostModels?.Count > 0)
{
    foreach (var singlePostModel in this.PostModels)
    {
        <div class="@ThemeConfiguration.Chats.ChatItemSection">
            <label class="@ThemeConfiguration.Chats.ChatSender">
                @singlePostModel.OwnerApplicationUserFullName
            </label>
            <p class="@ThemeConfiguration.Chats.ChatContent">@singlePostModel.Text</p>
            <p class="@ThemeConfiguration.Chats.ChatTime"></p>
        </div>
    }
}