@using FairPlaySocial.Models.Photo
@using FairPlaySocial.SharedUI.Pages

@inherits CustomBaseComponent

<EditForm Model="@this.Model">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <label class="@ThemeConfiguration.Labels.DefaultCss">Image Alternative Text</label>
    <InputText class="@ThemeConfiguration.GenericControls.DefaultCss"
               @bind-Value="@this.Model!.AlternativeText"></InputText>
    <label class="@ThemeConfiguration.Labels.DefaultCss">Pick an Image</label>
    <InputFile accept="image/*" OnChange="OnFileSelectionChangedAsync"></InputFile>
</EditForm>

@if (this.Model!.ImageBytes != null)
{
    <img class="@ThemeConfiguration.Images.ThumbnailDefaultCss"
     style="max-height:@( $"{this.MaxHeightForPreview}px;" )"
     src="data:@this.Model.ImageType;base64, @Convert.ToBase64String(this.Model.ImageBytes)" />
}