<div class="@ThemeConfiguration.Divisions.DefaultCss">
    <button class="btn">
        <i class="bi bi-clipboard-fill" @onclick="CopyEmbeddedPostUrlToClipboardAsync"></i>
    </button>
    <a href="@($"https://twitter.com/intent/tweet?text=&url={this.EmbeddedPostAbsolutePath}")"
       target="_blank">
        <i class="bi bi-twitter"></i>
    </a>
    <a href="@($"https://www.facebook.com/sharer/sharer.php?u={this.EmbeddedPostAbsolutePath}")"
       target="_blank">
        <i class="bi bi-facebook"></i>
    </a>
    <a href="@($"https://www.linkedin.com/sharing/share-offsite/?url={this.EmbeddedPostAbsolutePath}")"
       target="_blank">
        <i class="bi bi-linkedin"></i>
    </a>
</div>
<div class="@ThemeConfiguration.Divisions.DefaultCss">
    <a href="@($"https://{this.MastodonInstance}.social/share?text={this.EmbeddedPostAbsolutePath}")"
       target="_blank">
        <i class="bi bi-mastodon"></i>
    </a>
    <label class="@ThemeConfiguration.Labels.DefaultCss">Input your desired Mastodon instance and lick the icon</label>
    <input class="@ThemeConfiguration.GenericControls.DefaultCss" type="text" @bind="@this.MastodonInstance" />
</div>